.center {
    text-align: center;
}

/* Style for the mouse trail */
/* Snowflake styles */
.snowflake {
    position: absolute;/* Set width of the image */
    height: 30px; 
    pointer-events: none; /* Prevent interaction with the element */
    opacity: 1; 
    animation: fade-out 1.5s ease-out forwards, fall 1.5s linear;
}

/* Fade-out effect */
@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes float-down {
    to {
        transform: translateY(100px) rotate(360deg); 
    }
}


/* Slight falling effect */
@keyframes fall {
    to {
        transform: translateY(50px);
    }
}



