
<form action="/todos" method="post">
    <label>
        New TODO
        <div id="editor-container" style="height: 150px;"></div>
        <input type="hidden" name="todo" id="todo-input">

        <!-- CSS To Prevent The Box From Changing Sizes For Some Odd Reason??? -->
        <style>
            #editor-container {
                height: 150px; /* Adjust height as needed */
                border: 1px solid #ccc;
                padding: 10px;
                background-color: gray;
                box-sizing: border-box;
            }
        </style>

        <label for="due_date">Due Date:</label>
        <input type="date" id="due_date" name="due_date">

    </label>
    <input type="hidden" name="view" value="{{ view }}">
</form>

<a hx-get="/todos/reorder"
    hx-target="#todos-list"
    hx-swap="outerHTML">Reorder Todos
</a>

{%include "todos.html" %}

<nav>
    <ul>
        <li>
            <a class="{{'contrast' if view == None}}"href="/todos">All</a>
        </li>
    </ul>
    <ul>
        <li>
            <a class="{{'contrast' if view == 'active'}}"href="/todos?view=active">Active</a>
        </li>
    </ul>
    <ul>
        <li>
            <a class="{{'contrast' if view == 'complete'}}"href="/todos?view=complete">Complete</a>
        </li>
    </ul>
</nav>

<a href="{{ url_for('calendar') }}">Go to Calendar</a>
